$primary: #89dcfb;
$secondary: #82AAFF;
$tertiary: #C792DF;
$highlight: #DA70B8;
$light: #C3E88D;
$shadow: #263238;
$dark: #192227;
$accent: #f9ce62;
$negative: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    height: 100vh;
    background-color: $dark;
    color: $negative;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
p {
    color: $negative;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.form {
    background-color: $shadow;
    box-shadow: 0px 0px 20px 2px #000000;
    padding: 30px;
    width: 250px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
    z-index: 20;

    h3 {
        margin-bottom: 35px;
    }

    button {
        margin-top: 20px;
        outline: none;
        border: none;
        background: linear-gradient(90deg, #da70b8 0%, #c792df 100%);
        color: $negative;
        font-weight: 700;
        width: 100%;
        padding: 12px 12px;
        border-radius: 2px;
        opacity: 0.8;
        transition: all 0.2s ease;
        box-shadow: 0px 0px 5px 1px #000000;
        cursor: pointer;

        &:hover {
            background: linear-gradient(0deg, #da70b8 0%, #c792df 100%);
            box-shadow: 0px 0px 10px 2px #000000;
            opacity: 1;
        }
    }

    small {
        font-size: 12px;
        font-weight: 300;
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;

    label {
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: 300;
        color: $negative;
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
        border-bottom: 1px solid $negative;

        span {
            position: absolute;
            bottom: 5px;
            left: 0;
            transition: all 0.3s ease-out;
        }
    }

    label::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid $highlight;
        bottom: -2px;
        left: 0;
        transform: translateX(-110%);
        transition: all 0.3s ease-out;
    }

    input {
        background-color: transparent;
        color: $negative;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        padding: 20px 0 10px 0;
    }

    input:focus + label span,
    input:valid + label span {
        transform: translateY(-100%);
        color: $highlight;
    }

    input:focus + label::after, 
    input:valid + label::after {
        transform: translateY(0);
    }
}

.svg-wrapper {
    width: 250px;
    position: relative;
    z-index: 2;

    .outter-svg {
        position: absolute;
        transform: scale(2.1);
        z-index: 1;
        bottom: 45px;
        pointer-events: none;

        path:nth-child(1) {
            stroke-dashoffset: 732.1728515625px;
            stroke-dasharray: 732.1728515625px;
            animation: svgLine 2s ease infinite alternate;
        }

        path:nth-child(2) {
            stroke-dashoffset: 494.9747619628906px;
            stroke-dasharray: 494.9747619628906px;
            animation: svgLine 2s ease infinite alternate;
        }
    }
}

.inner-svg {
    position: absolute;
    transform: scale(2.1);
    z-index: 1;
    top: 30px;
    pointer-events: none;

    path:nth-child(1) {
        stroke-dashoffset: 678.822509765625px;
        stroke-dasharray: 678.822509765625px;
        animation: svgLine 2s ease infinite alternate;
    }

    path:nth-child(2) {
        stroke-dashoffset: 420.2200012207031px;
        stroke-dasharray: 420.2200012207031px;
        animation: svgLine 2s ease infinite alternate;
    }
}

@keyframes svgLine {
    to {
        stroke-dashoffset: 0;
    }
}